<footer>
  <div class="footer-grid">
    <div><h5>Links</h5><p><a href="{{ routes.root_url }}">Home</a></p><p><a href="/collections/all">Shop All</a></p></div>
    <div><h5>Social</h5><p>Instagram</p><p>Pinterest</p><p>TikTok</p></div>
    <div><h5>Support</h5><p><a href="/pages/help">Help</a></p><p><a href="/policies/shipping-policy">Shipping Policy</a></p></div>
  </div>
  <p>Copyright {{ 'now' | date: '%Y' }} NERUVA</p>
</footer>
{% schema %}
{
  "name": "Site footer",
  "settings": []
}
{% endschema %}
